<h1 style="text-align:center"><%= @user.first_name + " " + @user.last_name %>'s Events</h1>
<div class="page_container">
    <div class="events_container">
      <h2>Hosted</h2>
      <% @user.events.each do |event| %>
        <div class="event">
          <p><strong>Location:</strong> <%= event.location %></p>
          <p><strong>Date:</strong> <%= event.date %></p>
          <div class="event_links">
            <%= link_to "Details", event %>
            <%= button_to "Send Invitations", invitations_path, params: { event_id: event.id, }, method: :get %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="events_container">
      <h2>Attending</h2>
      <% upcoming = @user.attended_events.where("date > ?", Time.now) %>
      <% past = @user.attended_events.where("date < ?", Time.now) %>
      <h3>Upcoming</h3>
      <% upcoming.each do |event| %>
        <div class="event">
          <p><strong>Location:</strong> <%= event.location %></p>
          <p><strong>Date:</strong> <%= event.date %></p>
          <%= link_to "Details", event %>
        </div>
      <% end %>
      <h3>Past</h3>
      <% past.each do |event| %>
        <div class="event">
          <p><strong>Location:</strong> <%= event.location %></p>
          <p><strong>Date:</strong> <%= event.date %></p>
          <%= link_to "Details", event %>
        </div>
      <% end %>
    </div>
  <div class="events_container">
    <h2>Invitations</h2>
    <% @user.invitations.each do |invite| %>
      <% @event = Event.find(invite.invited_to_id) %>
      <div class="event">
        <p><strong>Location: </strong><%= @event.location %></p>
        <p><strong>Date: </strong><%= @event.date %></p>
        <%= link_to "Details", @event %>
      </div>
    <% end %>
  </div>
</div>
