<h1 style="text-align:center">Event Details</h1>
<div class="page_container">
  <div class="events_container">
    <div class="event">
      <p><strong>Location:</strong> <%= @event.location %></p>
      <p><strong>Date:</strong> <%= @event.date %></p>
      <p><strong>Creator:</strong> <%= @event.creator.first_name + " " + @event.creator.last_name %></p>
      <%= render "attendees" %>
    </div>
    <%= render "join_or_leave" %>
  </div>
</div>
