<h3 style="text-align:center">Send Invites</h3>

<div class="page_container">
  <div class="events_container">
    <div class="event">
      <p><strong>Location:</strong> <%= @event.location %></p>
      <p><strong>Date:</strong> <%= @event.date %></p>
      <p><strong>Creator:</strong> <%= @event.creator.first_name + " " + @event.creator.last_name %></p>
      <%= render "events/attendees" %>
    </div>
  </div>
  <%= form_with url: invitations_path, method: :post do |form| %>
    <div class="events_container">
      <%= form.hidden_field :event_id, value: @event.id %>
      <%= form.label :invitee_ids, "Create a guest list:" %>
      <div class="event">
        <%= form.collection_check_boxes(:invitee_ids, @users, :id, :first_name) do |b| %>
          <%= b.label {b.check_box + b.text} %>
        <% end %>
      </div>
      <div style="text-align:center"><%= form.submit "Send invites"%></div>
    </div>
  <% end %>
</div>

